**1 ASSIGNMENT**

In [11]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [34]:
import yfinance as yf
import pandas as pd

pd.set_option('display.max.rows', None)
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="1y")
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-01-11 00:00:00-05:00,230.570007,230.929993,225.369995,227.220001,105873600,0.0,0.0
1,2024-01-12 00:00:00-05:00,220.080002,225.339996,217.149994,218.889999,122889000,0.0,0.0
2,2024-01-16 00:00:00-05:00,215.100006,223.490005,212.179993,219.910004,115355000,0.0,0.0
3,2024-01-17 00:00:00-05:00,214.860001,215.669998,212.009995,215.550003,103164400,0.0,0.0
4,2024-01-18 00:00:00-05:00,216.880005,217.449997,208.740005,211.880005,108595400,0.0,0.0

**3 ASSIGNMENT**

In [8]:
import yfinance as yf
import pandas as pd

pd.set_option('display.max.rows', None)
gme = yf.Ticker("GME")
gme_data = gme.history(period="1y")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2024-01-11 00:00:00-05:00,15.65,15.80,15.24,15.25,2992200,0.0,0.0
1,2024-01-12 00:00:00-05:00,15.30,15.62,14.73,14.75,2475500,0.0,0.0
2,2024-01-16 00:00:00-05:00,14.60,14.62,13.93,13.98,3581200,0.0,0.0
3,2024-01-17 00:00:00-05:00,13.86,14.11,13.71,14.08,2706200,0.0,0.0
4,2024-01-18 00:00:00-05:00,14.20,14.77,14.05,14.29,3906000,0.0,0.0

**2 ASSIGNMENT**

In [17]:
url= "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data=requests.get(url).text

In [18]:
soup = BeautifulSoup(html_data,"html5lib")

In [23]:
import requests
from bs4 import BeautifulSoup
import pandas as pd


# Set headers to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.5615.49 Safari/537.36"
}

# Fetch the page content
response = requests.get(url, headers=headers)
response.raise_for_status()  # Ensure the request was successful

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

# Use pandas to extract the table
tables = pd.read_html(str(soup), match="Tesla Quarterly Revenue")

# Select the first table
tesla_revenue = tables[0]

# Rename columns for clarity
tesla_revenue.columns = ["Date", "Revenue"]

# Clean and preprocess the Revenue column
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(",", "").str.replace("$", "").astype(float)

# Display the first few rows
tesla_revenue.head()

C:\Users\User\AppData\Local\Temp\ipykernel_16764\577468309.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup), match="Tesla Quarterly Revenue")

         Date  Revenue
0  2024-09-30  25182.0
1  2024-06-30  25500.0
2  2024-03-31  21301.0
3  2023-12-31  25167.0
4  2023-09-30  23350.0

In [35]:
tesla_revenue.dropna(inplace=True)
tesla_revenue.tail()

          Date  Revenue
56  2010-09-30     31.0
57  2010-06-30     28.0
58  2010-03-31     21.0
60  2009-09-30     46.0
61  2009-06-30     27.0

**4 assignment**

In [26]:
url="https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_data=requests.get(url).text

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Set headers to mimic a browser
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.5615.49 Safari/537.36"
}

# Fetch the page content
response = requests.get(url, headers=headers)
response.raise_for_status()  # Ensure the request was successful

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

# Use pandas to extract the table
tables = pd.read_html(str(soup), match="GameStop Quarterly Revenue")

# Select the first table
gme_revenue = tables[0]

# Rename columns for clarity
gme_revenue.columns = ["Date", "Revenue"]

# Clean and preprocess the Revenue column
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(",", "").str.replace("$", "").astype(float)

# Display the first few rows
gme_revenue.head()

C:\Users\User\AppData\Local\Temp\ipykernel_16764\954140328.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(str(soup), match="GameStop Quarterly Revenue")

         Date  Revenue
0  2024-10-31    860.0
1  2024-07-31    798.0
2  2024-04-30    882.0
3  2024-01-31   1794.0
4  2023-10-31   1078.0

In [29]:
gme_revenue.dropna(inplace=True)
gme_revenue.tail()

          Date  Revenue
59  2010-01-31   3524.0
60  2009-10-31   1835.0
61  2009-07-31   1739.0
62  2009-04-30   1981.0
63  2009-01-31   3492.0

**5 assignment**

In [30]:
pip install plotly

Collecting plotly
  Downloading plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\user\appdata\roaming\python\python312\site-packages (from plotly) (24.0)
Downloading plotly-5.24.1-py3-none-any.whl (19.1 MB)
   ---------------------------------------- 0.0/19.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/19.1 MB ? eta -:--:--
   -- ------------------------------------- 1.3/19.1 MB 5.6 MB/s eta 0:00:04
   --------------- ------------------------ 7.3/19.1 MB 18.9 MB/s eta 0:00:01
   --------------- ------------------------ 7.6/19.1 MB 18.1 MB/s eta 0:00:01
   -------------------------- ------------- 12.6/19.1 MB 16.4 MB/s eta 0:00:01
   ----------------------------------- ---- 17.0/19.1 MB 17.1 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------  18.9/19.1 MB 15.7 MB/s eta 0:00:01
   ---------------------------------------- 19.1/19.1 MB 7.6 MB/s eta 0:00:00
Installing collected packages: plotly
Successfully installed plotly-5.24.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [47]:
def make_graph(stock_data, revenue_data, stock):
    stock_data['Date'] = pd.to_datetime(stock_data['Date'])
    revenue_data['Date'] = pd.to_datetime(revenue_data['Date'])

    fig = make_subplots(
        rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing=0.3
    )

    fig.add_trace(
        go.Scatter(x=stock_data['Date'], y=stock_data['Close'].astype(float), name="Share Price"),
        row=1, col=1
    )

    fig.add_trace(
        go.Scatter(x=revenue_data['Date'], y=revenue_data['Revenue'].astype(float), name="Revenue"),
        row=2, col=1
    )

    # Настройка осей
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)

    # Настройки отображения
    fig.update_layout(
        showlegend=False,
        height=900,
        title=stock,
        xaxis_rangeslider_visible=True
    )

    import plotly.io as pio
    pio.renderers.default = "browser"  
    fig.show()

In [50]:
make_graph(tesla_data, tesla_revenue, 'Tesla Stock Data Graph')

**6 assignment**

In [51]:
make_graph(gme_data, gme_revenue, 'GameStop Stock Data Graph')